* {
	color: #888888;
	font-family: sans-serif;
	text-decoration: none;
}

body {
	background-image: url("jameswebb.jpg");
	background-size: cover;
	margin: 0px;
}

.header {
	display: grid;
	width: auto;
	background-color: transparent;
	place-items: center;
}

.header:hover {
	background-color: #222222;
}

.splash {
	color: #888888;
	font-size: 200%;
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.label {
	padding: 0.125em 0.250em 0.125em 0.25em;
	border-radius: 0.25em;
	background-color: #111111;
}