* {
	color: #888888;
	font-family: sans-serif;
	text-decoration: none;
}

body {
/*	background-color: #66aaff; */
	background-image: url("stipple.jpg");
	margin: 0px;
}

.center {
	display: grid;
	place-items: center;
	min-height: 100vh;
}