* {
	color: #888888;
	font-family: sans-serif;
	text-decoration: none;
}

body {
/*	background-color: #66aaff; */
	background-image: url("jameswebb.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}

.center {
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.center:after {
	mix-blend-mode: difference;
}